<div class="container">
  <div style="text-align: center;"><strong>Interface Stats</strong></div>
  <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th rowspan="2">WLAN</th>
          <th scope="row">Upload</th><td><label>Upload Graph</label></td>
        </tr>
        <tr>
          <th scope="row">Download</th><td><label>Download Graph</label></td>
        </tr>
        <tr>
          <th rowspan="2">Ethernet</th>
            <th scope="row">Upload</th><td><label>Upload Graph</label></td>
          </tr>
          <tr>
            <th scope="row">Download</th><td><label>Download Graph</label></td>
        </tr>
      </tbody>
    </table>
</div>