<div class="container">
  <div style="text-align: center;"><strong>Traffic (General)</strong></div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>IP</th>
          <th>Name</th>
          <th>Seen Since</th>
          <th>Last Seen</th>
          <th>Traffic</th>
          <th>Throughput</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let host of hosts | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }">
          <td>{{ host.key }}</td>
          <td>{{ host.column_name }}</td>
          <td>{{ host.column_since }}</td>
          <td>{{ host.column_last }}</td>
          <td>{{ host.column_traffic }}</td>
          <td>{{ host.column_thpt }}</td>
        </tr>
      </tbody>
    </table>
    <div style="align-content: center;">
        <pagination-controls
        id="host_paination"
        (pageChange)="currentPage = $event"
        previousLabel="Previous"
        nextLabel="Next"></pagination-controls>
    </div>
</div>
