<div class="container">
  <div style="text-align: center;"><strong>Traffic (General)</strong></div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>IP</th>
          <th>Name</th>
          <th>Seen Since</th>
          <th>Last Seen</th>
          <th>Traffic</th>
          <th>Throughput</th>
        </tr>
      </thead>
      <tbody>
        <div *ngIf="hosts">
          <tr *ngFor="let row of hosts">
            <td>{{ row.key }}</td>
            <td>{{ row.column_name }}</td>
            <td>{{ row.column_since }}</td>
            <td>{{ row.column_last }}</td>
            <td>{{ row.column_traffic }}</td>
            <td>{{ row.column_thpt }}</td>
          </tr>
        </div>  
      </tbody>
    </table>
</div>
