<div class="container">
  <div style="text-align: center;">
    <strong>Traffic By Country</strong>
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2" class="fromHeader">From</th>
          <th colspan="4" class="toHeader">To</th>
        </tr>
        <tr>
          <th class="fromHeader">Device Type</th>
          <th class="fromHeader">Source IP</th>
          <th class="toHeader">Destination IP</th>
          <th class="toHeader">DNS Name</th>
          <th class="toHeader">Country</th>
          <th class="toHeader">ASN</th>
        </tr>
      </thead>
    </table>
  </div>
</div>