<div class="container">
  <div style="text-align: center;">
    <strong>Traffic By Country</strong>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="fromHeader">Country</th>
          <th class="fromHeader"># Hosts</th>
          <th class="fromHeader">Active Since</th>
          <th class="fromHeader">Throughput</th>
          <th class="fromHeader">Volume</th>
        </tr>
      </thead>
      <tbody>
        <div *ngIf="countrie">
          <tr *ngFor="let row of countries">
            <td>{{ row.key }}</td>
            <td>{{ row.column_hosts }}</td>
            <td>{{ row.column_since }}</td>
            <td>{{ row.thpt }}</td>
            <td>{{ row.column_traffic }}</td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>