<div class="container">
  <div style="text-align: center;">
    <strong>Traffic By Country</strong>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="fromHeader">Country</th>
          <th class="fromHeader"># Hosts</th>
          <th class="fromHeader">Active Since</th>
          <th class="fromHeader">Throughput</th>
          <th class="fromHeader">Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }">
          <td>{{ country.key }}</td>
          <td>{{ country.column_hosts }}</td>
          <td>{{ country.column_since }}</td>
          <td>{{ country.thpt }}</td>
          <td>{{ country.column_traffic }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="align-content: center;">
      <pagination-controls
      id="country_paination"
      (pageChange)="currentPage = $event"
      previousLabel="Previous"
      nextLabel="Next"></pagination-controls>
  </div>
</div>